 *{box-sizing: border-box}
 /* General page styling */
body {
    font-family: Arial, sans-serif;
    background-color: rgba(211, 221, 230, 0.847);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
    
}


/* Add padding to containers */
.container {
  align-items: center;
  padding: 16px;
  background-color:whitesmoke;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #d1c9c9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #d1c6c6;
  outline: none;
  font-size: 14px;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}

.registerbtn:hover {
  opacity:1;
  justify-content: center;
  align-items: center;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
  padding: 6px;
}